# Average Income of all states from 2005 to 2013

In [2]:
filepath="data files/income.csv"
import pandas as pd
def readcsvdataframe(filepath):       #displaying the csv file
    return pd.read_csv(filepath)   
readcsvdataframe(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,2345,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [6]:
df=readcsvdataframe(filepath)
df.columns

Index(['GEOID', 'State', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013'],
      dtype='object')

In [11]:
def averageOfStates(incomedf):
    count = 0
    sum = 0
    for i in range (len(incomedf.values)):#row index
        for j in range(2,len(incomedf.columns)):# COlumn index
            sum+=incomedf.values[i][j] 
            count+=1
        print(sum//count) # average of each state
incomedf=readcsvdataframe(filepath)
averageOfStates(incomedf)

41126
50616
47875
45613
47561

In [48]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,2345,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [56]:
x=averageOfStates(incomedf)
def statewithlowestincome(df,lb,ub):
    for i in x:
        for i in range(lb,ub):
            print(i)
    return
statewithlowestincome(incomedf,2007,2010)

Alabama 237805
Alaska 118902
Arizona 79268
Arkansas 59451
California 47561

TypeError: 'NoneType' object is not iterable