# Advanced problem set

In [108]:
#Function to generate average of all factorials in a given range
def avgfactorials(lb,ub):
    f=1
    s=0
    c=0
    for i in range(lb,ub+1):
        f=f*i
        s=s+f
        c=c+1
    return (s/c)
avgfactorials(1,3)

3.0

In [107]:
lb=1
ub=3
def 
s=0
c=0
for n in range(lb,ub+1):
    f=1
    for i in range(1,n+1):
        f*=i
    s=s+f
    c=c+1
print(s/c)

3.0

In [102]:
for i in range(4):
    print(i)

0
1
2
3

In [2]:
#Function to generate n odd armstrong numbers in a given range

In [3]:
#Function to generate multiplcation tables for a number in a given range
#10 in the range(100,102) inclusive
#10*100=1000
#10*101-

In [16]:
#Function to calculate the average of a given range
def avgrange(lb,ub):
    s=0
    count=0
    for i in range(lb,ub+1):
        s=s+i
        count=count+1  #counting the number of value
        avg=s/count   # avg=sum/total count
    return avg
    
avgrange(1000,5000)

3000.0

In [12]:
def avgrange(lb,ub):
    s=0
   # count=0
    for i in range(lb,ub):
        s=s+i
        #count=count+1  #counting the number of value
       # avg=s/count   # avg=sum/total count
    return s/(ub-lb)  #ub-lb means endvalue -start value gives total count value
    
avgrange(1,5)

3.75

In [9]:
3/2-1

0.5

In [47]:
#function to generate all leap years in a gievn range & calculate a year is leap year
def isleapyear(i):
    if i%4==0 and i%100!=0 or i%400==0:
        return True
    return False
    
#def yearsrange(startyaer,endyear):
#   for i in range(startyaer,endyear+1):
#        if i%4==0 and i%100!=0 or i%400==0: # year divided by 4 and gives remainder is 0 and also not divisble by 100 or and 
            #also yaer divivded by 400 and gives remainder is 0 then year is leap year
#            print(i)
#    return 
def yearsrange(startyaer,endyear):
    for i in range(startyaer,endyear+1):
        if isleapyear(i):
            print(i,end=" ")
    return 


yearsrange(1919,2019)

1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016

In [95]:
#Function to calculate number of dayes in given time period using leap year
#for every year in the time period->add 365 to the year
def numberofdays(startyear,endyear):
    dayssum=0
    for i in range(startyear,endyear+1):
        if isleapyear(i):
            dayssum=dayssum+366 #leap year having 366 days
        else:
            dayssum=dayssum+365 
    return dayssum
numberofdays(2017,2018)

730

In [113]:
#Function to calculate number of hours for a given period
#(11,1975,03,1999)
#no of hours(5,2019,6,2019)
#2,2017,6,2019
#no of hours=24*no of days
#3 steps
    #1.Start month year to end of year-calculate no of days(11 months)
    #2.calculate days all years between start year and end year exclusive
    #2018->365*no of years
    #3.calculate days from jan to end month year
    
#Exculding Feb
    #first seven months=1,3,4,5,6,7(oddmonths=31days,even=30)
    #next months=,8,9,10,11,12  (even=31 days and odd=30 days)
#31 days=(month<=7 and month % 2!=0 and month!=2)||(month>8 and month%2==0)
    #return 31

def numofdaysmonth(month,year):
    if month==2:
        if isleapyear(year):
            return 29
        return 28
    elif (month<=7 and month % 2!=0) or (month>7 and month%2==0):
            return 31
    else:
        return 30
print(numofdaysmonth(7,2019))
def daysinstartyear(startmonth,startyear):
    days=0
    for month in range(startmonth,13):
        days=days+numofdaysmonth(month,startyear)
    return days
print(daysinstartyear(1,2020))
def daysinendyear(endmonth,endyear):
    days=0
    for month in range(1,endmonth+1):
        days=days+numofdaysmonth(month,endyear)
    return days
print(daysinendyear(2,2020))
def numhours(startmonth,startyear,endmonth,endyear):
    days=0
    days+=daysinstartyear(startmonth,startyear)
    days+=daysinendyear(endmonth,endyear)
    if endyear-startyear == 1:
        days+=numberofdays(startyear+1,endyear)
    elif endyear-startyear>2:
        days+=numberofdays(startyear+1,endyear-1)
    return 24*days

print("number of hours",numhours(11,1975,3,1999))

31
366
60
number of hours 205248

In [82]:
for i in range(12,13):
    print(i)

12