# string reverse

In [59]:
s="abc"
print(s[::-1])
for i in s:
    print(i)

cba
a
b
c

In [58]:
x=reversed(s)
for i in x:
    print(i)
print(s,)

c
b
a
abc

# averages of numbers

In [67]:
s=input()
x=list(map(int,s.split()))
x1=x[0]
y=x[1]
z=x[2]
def avges(x1,y,z):
    s=0
    c=0
    for i in (x1,y,z):
        s=s+i
        c=c+1
        avg=s/c
    return avg
print(avges(x1,y,z))

22 3 12
12.333333333333334

# Kth Lowest frequency

# Function to print all combinations of pairs of integers in a unique list
#### >[1,2,3]=combinations=(1,2),(1,3),(2,3)=formula is 3C2==3!/((3-2)!*2!)
#### >[1,2,3,4]==1,2 1,3 1,4 2,3 2,4 3,4 combinations

In [87]:
def combinations3(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)): # for 2 combination  i+1 
            for k in range(j+1,len(li)): #for 3 combo j+1(j before added with 1) up length of li
                print(li[i],li[j],li[k])
combinations3([1,2,3,4,5])  # totally we are getting 10 combinations

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [86]:
def combo4(li):
    for i in range(len(li)):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                for k1 in range(k+1,len(li)):
                    print(li[i],li[j],li[k],li[k1])
combo4([1,2,3,4,5])

1 2 3 4
1 2 3 5
1 2 4 5
1 3 4 5
2 3 4 5

In [4]:
#[1,2,3]-->[1,2,3]
def solutionmedium(li,k):
    while True:
        li3=differencepairs(li)
        #print(li3)
        if li3[0]==li3[1]:
            break
    if len(li3[0])>=k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1
def differencepairs(li):
    cli=li[:]
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            diff=abs(li[i]-li[j])
            if diff not in li and diff not in newelements:
                newelements.append(diff)
    li.extend(newelements)
    return [cli,li]
li=[1,9,8,7]
#print(differencepairs([1,9]) )
solutionmedium(li,6)

4

In [130]:
# function to identify differences of a ll pairs of numbers and add those diffence to same list
#it returns updated list and original list
def differencepairs(li):
    cli=li[:]
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            diff=abs(li[i]-li[j])
            if diff not in li and diff not in newelements:
                newelements.append(diff)
    li.extend(newelements)
    return [cli,li]
#li=[1,9,8,7]
differencepairs([1,9])

[[1, 9], [1, 9, 8]]

In [2]:
n=int(input())
c1=0
c2=0
c=n
for i in (0,n):
    c1+=i
    #print(c1)
    c2+=i*2
    #print(c2)
    if (c1+c2<n & c<i):
        print("patlu")
    else:
        print("motu")

13
0
0
motu
13
26
motu

In [ ]:
def solutionmedium(li,k):
    while True:
        li3=differencepairs(li)
        #print(li3)
        if li3[0]==li3[1]:
            break
    if len(li3[0])>=k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1
def differencepairs(li):
    cli=li[:]
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            diff=abs(int(li[i])-int(li[j]))
            if diff not in li and diff not in newelements:
                newelements.append(str(diff))
    li.extend(newelements)
    return [cli,li]
#li=[1,9,8,7]
#print(differencepairs([1,9]) )

with open('data files/mediuminput.txt','r') as f:
    t=int(f.readline())
    for i in range(t):
                     f.readline()
                     li=f.readline().split()
                     k=int(f.readline())
                     print(solutionmedium(li,k))

In [13]:
def differencepairs1(li):
    cli=li[:]
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            diff=abs(int(li[i])-int(li[j]))
            if diff not in li and diff not in newelements:
                newelements.append((diff))
    li.extend(newelements)
    return [cli,li]
li=[2,3,6,9,12,1, 4, 7, 10,5,8,11]
differencepairs1(li)

[[2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11],
 [2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11]]

# Set-Data Structure in a python 
### {},-->unique

In [3]:
a={1,3,4,6,7,8,7,3}# display only unique elements
a.add(10)#to add new value
a

{1, 3, 4, 6, 7, 8, 10}

# Accesing elements in set

In [4]:
for i in a:
    print(i,end=" ")

1 3 4 6 7 8 10

In [6]:
b={7,8,99,55,43}
x=[1,90,55,45]
a.update(b,x) #adding multiple elements
a

{1, 3, 4, 6, 7, 8, 10, 12, 43, 45, 55, 90, 99}

In [9]:
a.discard(90)
a

{1, 3, 4, 6, 7, 8, 10, 12, 43, 45, 55, 99}

In [21]:
a={1,4,2,6}
b={3,5,7,2}
c={111,22}
print(a.union(b))#A U B = B U A
b.union(a)
print(a.intersection(b))#a intersection b== b intersection  a
b.intersection(a)

{1, 2, 3, 4, 5, 6, 7}
{2}

{2}

In [29]:
b.isdisjoint(c)# a c elements are not same then it return true

True

In [25]:
print(a - b)#elements of a which are not in b,common elements in b are removed and print remains of a
print(b - a)

{1, 4, 6}
{3, 5, 7}

In [26]:
sorted(a) # display all elements in sorting order in alist

[1, 2, 4, 6]

In [31]:
a={1,4,2,6}
b={3,5,7,2}
a ^ b     #elements in a or b except common of both

{1, 3, 4, 5, 6, 7}

In [32]:
s=set()# creates an empty set
s

set()

In [33]:
li=[1,2,3,4,2,1,2,3,4]
u=set(li)
u

{1, 2, 3, 4}

# Functional programming
### Ex:procedural:c
### object oriented:java,python
#### scripting:php,python,javascript,shell
### functional:python,haskell,scala
### logic:prolog,lisp

# List comprehensions

In [39]:
# list of n natural numbers
def nat(n):
    li=[]
    for i in range(1,n+1):
        li.append(i)
    return li
nat(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
li=[i for i in range(1,11)]   # BY list comprehension
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
# Apply list comprehension to store the cubes of n natural numbers
l=[i**3 for i in range(1,11)] # for cubes
l2=[i*2 for i in range(1,6)]
print(l)
print(l2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[2, 4, 6, 8, 10]

In [45]:
from math import sqrt as r
l2=[r(i) for i in range(1,6)]  #find the sqrt values from 1 to 5
l2

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [47]:
print([x for x in range(1,11) if x%2==0]) #All  even numbers from 1,10

[2, 4, 6, 8, 10]

In [56]:
# function to calculate the factorial
def fact(n):
    if n==0 or n==1: #recursion
        return 1
    return n*fact(n-1)
fact(5)

120

In [58]:
n=5
factlist=[fact(i) for i in range(1,n+1)] # list comprehension factorial
factlist

[1, 2, 6, 24, 120]

In [69]:
# store  cumulative sum of numbers till n in a list
#n=3,[1,3,6] -->cumulative sum
n=6
cumsum=[sum(range(1,i+1)) for i in range(1,n+1)]
print(cumsum)

[1, 3, 6, 10, 15, 21]

In [73]:
#function to store only leap yeares in a gievn time period by using list comprehension
st=1970
et=2019
leap=[i for i in range(st,et+1) if i%4==0 and i%100!=0 or i%400==0]
leap

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [87]:
li=[1,2,3,3,2,44,5]
unique=[]
u2=[]
unique=[for i in range(0,len(li)-1) if sorted()]
unique=[u2.append(i) for i in li if i not in u2 ]
unique

[None, None, None, None, None]

# Iterators
### Iterable-Strings,Lists,Tuples,sets,dictionaries
### convert Iterable to iterator-->iter()

In [92]:
it=iter('python')
print(next(it))
print(next(it))

p
y

# Generator 
### generator is Function

In [116]:
def generator():
    n=2
    yield n #yield return value at this time
    n=n**3
    yield n
    n=n**3
    yield n
a=generator()
next(a)
next(a)  
next(a)

512

In [118]:
def generator():
    n=2
    for i in range(1,5):
        n**=3
        yield n
a=generator()
next(a)
b=next(a)**2
b*=next(a)
b

35184372088832

In [125]:
def generator():
    n=2
    for i in range(1,5):
        n**=3
        yield n
a=generator()
for i in range(1,5):
    print(next(a))

8
512
134217728
2417851639229258349412352