# String join

In [6]:
s=input()
print(s)
''.join(s)
print(s)

o m a r
o m a r
o m a r

In [11]:
t=int(input())
l=input().split()
j=''.join(l)
print(j)

4
o m a r
omar

In [13]:
t=int(input())
l=list(input().split())
j=''.join(l)
print(j)

4
o m a r
omar

# print odd  numbers in the range of 10 in reverse order

In [35]:
def revereodd(n):
    for i in reversed(range(0,n)):
        if i%2!=0:
            print(i)
    return 
n=int(input())
revereodd(n)

10
9
7
5
3
1

In [34]:
def revereodd(n):
    for i in range(n,0,-1):
        if i%2!=0:
            print(i)
    return 
n=int(input())
revereodd(n)

10
9
7
5
3
1

In [45]:
def constructkeyfile(keyfile):
    d={}
    with open(keyfile,'r') as f:
        for i in f:
            i=i.split()
            d[i[0]]=i[1]
    return d
keyfile="data files/key.txt"
constructkeyfile(keyfile)

{'0': '4',
 '1': '5',
 '2': '6',
 '3': '7',
 '4': '8',
 '5': '9',
 '6': '0',
 '7': '1',
 '8': '2',
 '9': '3'}

# Function to encryption based on a file

In [48]:
def encrypt(filename,keyfile):
    key=constructkeyfile(keyfile)
    with open(filename,'r') as f:
        filedata=f.read().split('\n')
    with open('data files\encryptmarks.txt','w') as f:
        for mark in filedata:
            line=' '
            for n in mark:
                line+=key[n]
            f.write(line+'\n')
    return
filename="data files/marks.txt"
encrypt(filename,keyfile)

In [75]:
def decrypt(encryptfile,keyfile):
    key=constructkeyfile(keyfile)
    newkey={}
    for key,value in key.items():
        newkey[value]=key
        
    with open(encryptfile,'r') as f:
        encrytpdata=f.read().split('\n')
    with open('data files/decyptmarks.txt','w') as f:
      
        for i in encrytpdata:
            line=''
            for n in i:
                line+=newkey[n]
            f.write(line+'\n')
    return
encryptfile='data files\encryptmarks.txt'
decrypt(encryptfile,keyfile)

KeyError: ' '

# Comprehensions

In [72]:
keyfile='data files\key.txt'
key=constructkeyfile(keyfile)
key

{'0': '4',
 '1': '5',
 '2': '6',
 '3': '7',
 '4': '8',
 '5': '9',
 '6': '0',
 '7': '1',
 '8': '2',
 '9': '3'}

In [70]:
even={i for i in key.items()  if int(i[0])%2==0}
even

{('0', '4'), ('2', '6'), ('4', '8'), ('6', '0'), ('8', '2')}

In [71]:
x={item for item in key}
x

{'0', '1', '2', '3', '4', '5', '6', '7', '8', '9'}

# Python Libraries

# Scify
https://www.scipy.org/
#ForNumpy= N-Dimensional data
Scipy-Sicentific computation
matplotlib
Sympy

### NUMPY Library(np)
### >. Processing N-dimensional arrays
### >.https://github.com/Akash-Sinha/PythonDataScienceHandbook/blob/master/notebooks/02.02-The-Basics-Of-NumPy-Arrays.ipynb

In [76]:
import numpy as np
li=[1,2,3]
a=np.array(li)
a

array([1, 2, 3])

In [77]:
type(a)

numpy.ndarray

In [78]:
import numpy as np
li=[1,2,3,'z']
a=np.array(li)
a

array(['1', '2', '3', 'z'], dtype='<U11')

In [80]:
b=np.arange(0,10) #arange means array range
b

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [82]:
rn=np.random.randint(0,50,10) #range is 0 -50 and size is 10
rn

array([47, 47, 16, 45, 40,  8, 46, 40, 22,  3])

In [90]:
m3=np.random.randint(0,5,size=(3,3)) #generate 3x3 array with range of 0-5
m3

array([[2, 0, 4],
       [4, 3, 3],
       [2, 3, 0]])

In [91]:
m3[1][2]

3

In [92]:
m3[0][1]=6#assign new value in a index
m3

array([[2, 6, 4],
       [4, 3, 3],
       [2, 3, 0]])

In [93]:
m3=np.random.randint(0,5,size=(3,3,2))#return 3x3 array in 2 
m3

array([[[0, 0],
        [4, 2],
        [1, 3]],

       [[4, 3],
        [3, 4],
        [3, 2]],

       [[2, 2],
        [1, 1],
        [4, 4]]])

In [94]:
m3[2][1]

array([1, 1])

In [95]:
m3[-1]

array([[2, 2],
       [1, 1],
       [4, 4]])

In [96]:
m3[0][-1]

array([1, 3])

In [97]:
m3[1][2]

array([3, 2])

In [98]:
m3[0]

array([[0, 0],
       [4, 2],
       [1, 3]])

In [99]:
m3.ndim

3

In [100]:
m3.size

18

In [101]:
m3.shape

(3, 3, 2)

In [102]:
m3.dtype

dtype('int32')

In [103]:
m3[1:4:1]
m3

array([[[0, 0],
        [4, 2],
        [1, 3]],

       [[4, 3],
        [3, 4],
        [3, 2]],

       [[2, 2],
        [1, 1],
        [4, 4]]])

In [106]:
x=[1,2,3,4,5,6,7,8,9,12,78]
s=np.array(x)
s

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 12, 78])

In [107]:
type(s)

numpy.ndarray

In [108]:
x[:5]

[1, 2, 3, 4, 5]

In [109]:
x[5:]

[6, 7, 8, 9, 12, 78]

In [110]:
x[::-1]

[78, 12, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [115]:
x[0:9:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [116]:
d=m3+1 #Sclar addition 1 add to all elements in array
d

array([[[1, 1],
        [5, 3],
        [2, 4]],

       [[5, 4],
        [4, 5],
        [4, 3]],

       [[3, 3],
        [2, 2],
        [5, 5]]])

In [118]:
m=np.ones((3,3))
print("mat M:\n",m)

mat M:
 [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

# Pandas

Use Cases
## For Data analysis-Data cleaning
## Data Transformation
## Data Analysis
Notations
-Series
-Data frames

In [133]:
import pandas as pd #1 dimensional dataa
int1={'s1':21,'s2':18,'s3':23,'s4':12}
int1=pd.Series(int1)
int1

s1    21
s2    18
s3    23
s4    12
dtype: int64

In [134]:
import pandas as pd #1 dimensional dataa
int2={'s1':13,'s2':8,'s3':13,'s4':22}
int2=pd.Series(int2)
int2

s1    13
s2     8
s3    13
s4    22
dtype: int64

In [135]:
final={'int1':int1,'int2':int2}
final=pd.DataFrame(final)
final

    int1  int2
s1    21    13
s2    18     8
s3    23    13
s4    12    22

In [136]:
final.columns#list of columns

Index(['int1', 'int2'], dtype='object')

In [137]:
final.values# list of rows

array([[21, 13],
       [18,  8],
       [23, 13],
       [12, 22]], dtype=int64)

In [138]:
final.values[0]

array([21, 13], dtype=int64)

In [140]:
print(final.values[2,0])
print(final.values[2][1])

23
13

In [142]:
for row in final.values:
    print('internal1-',row[0],'internal2-',row[1])

internal1- 21 internal2- 13
internal1- 18 internal2- 8
internal1- 23 internal2- 13
internal1- 12 internal2- 22

In [143]:
final.loc[3]=[15,18]
final

    int1  int2
s1    21    13
s2    18     8
s3    23    13
s4    12    22
3     15    18

In [147]:
x=final.drop(3)
x

    int1  int2
s1    21    13
s2    18     8
s3    12    25
s4    12    22

In [149]:
final.values[2]=[12,25]
final

    int1  int2
s1    21    13
s2    18     8
s3    12    25
s4    12    22
3     15    18

In [156]:
#reading csv file data
import pandas as pd
filepath='data files/income.csv'
incomedf=pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [157]:
#Extract income of all states in  2013
#california:57528
incomedf.values

array([['04000US01', 'Alabama', 37150, 37952, 42212, 44476, 39980, 40933,
        42590, 43464, 41381],
       ['04000US02', 'Alaska', 55891, 56418, 62993, 63989, 61604, 57848,
        57431, 63648, 61137],
       ['04000US04', 'Arizona', 45245, 46657, 47215, 46914, 45739, 46896,
        48621, 47044, 50602],
       ['04000US05', 'Arkansas', 36658, 37057, 40795, 39586, 36538,
        38587, 41302, 39018, 39919],
       ['04000US06', 'California', 51755, 55319, 55734, 57014, 56134,
        54283, 53367, 57020, 57528]], dtype=object)

In [158]:
for row in incomedf.values:
    print(row[1],':',row[-1])

Alabama : 41381
Alaska : 61137
Arizona : 50602
Arkansas : 39919
California : 57528

In [159]:
#Average income of Arizona in 2013
s=0
for i in range(2,11):
    s+=incomedf.values[2][i]
s/(len(incomedf.values[2][2:]))

47214.77777777778

In [160]:
#Average income of all states in 2012
s=0
for row in incomedf.values:
    s+=row[-2]
s/len(incomedf.values)

50038.8