In [2]:
l=[]
for i in range(1500,2700+1):
    if(i%7==0 and i%5==0):
        l.append(i)
        print(l)

[1505]
[1505, 1540]
[1505, 1540, 1575]
[1505, 1540, 1575, 1610]
[1505, 1540, 1575, 1610, 1645]
[1505, 1540, 1575, 1610, 1645, 1680]
[1505, 1540, 1575, 1610, 1645, 1680, 1715]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660]
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [8]:
from random import randint
x,z=randint(1,9),0
print(x)

while x!=z:
    z=int(input())
print("w")

9
1
2
9
w

In [6]:
import random
target_num, guess_num = random.randint(1, 10), 0
while target_num != guess_num:
    guess_num = int(input('Guess a number between 1 and 10 until you get it right : '))
print('Well guessed!')

Guess a number between 1 and 10 until you get it right : 5
Guess a number between 1 and 10 until you get it right : 2
Guess a number between 1 and 10 until you get it right : 1
Well guessed!

In [13]:
x=input()
y=x[::-1]
y

rty

'ytr'

In [34]:
x=(1,2,3,4,5,6,7,8,9)
x1=0
x2=0
for i in x:
    if i%2==0:
        x1+=1
    else:
        x2+=1
print(x1)
print(x2)

4
5

In [38]:
for i in range(6):
    if(i==3 or i==6):
        continue
    print(i,end=" ")
print("\n")

0 1 2 4 5

In [44]:
x,y=0,1
while y<50:
    print(y)
    x,y=y,x+y

1
1
2
3
5
8
13
21
34

In [52]:
l1=[]
while 1:
    s=input()
    if s:
        l1.append(s.upper())
    break
for i in l1:
    print(i)

ert
ERT

# Pandas
## Python library for Data Analysis

Pandas - Data Analysis
Series Object - one-dimensional data
DataFrame Object - two-dimensional data
Reading Data from CSV files into DataFrames
Processing/Accessing DataFrames
Columns
Rows
Updating DataFrames
Writing DataFrame back to CSV files

# # Function to read csv data into data frame and returns dataframe object

In [26]:
filepath="data files/income.csv"
import pandas as pd
def readcsvdataframe(filepath):       #displaying the csv file
    return pd.read_csv(filepath)   
readcsvdataframe(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,2345,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

# print only columns in a format

In [27]:

incomedf=readcsvdataframe(filepath)
#Function to print all column names in a single line
def printdataframecolumns(df):
    columns=df.columns
    for i in columns:
        print(i,end=" ")
    return 
df=incomedf
printdataframecolumns(df)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

# Function to acesses a specific row based on state name(unique column value)

In [36]:

def acessesdataframerow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=" ")
    return
                
print(acessesdataframerow(incomedf,'Alaska')) 
print(acessesdataframerow(incomedf,'04000US06'))

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137 None
04000US06 California 51755 55319 55734 57014 56134 54283 53367 57020 57528 None

In [28]:
incomedf.values[2][3]

46657

In [29]:
len(incomedf.values)

5

#  Function to accessing unique value based on row,column information
# income of a state in a year by using Index

In [42]:
def getrowindex(df,rowkey):
    for i in range(len(df.values)):
        if df.values[1][0]==rowkey or df.values[i][1]==rowkey:
            rowindex=i
    return rowindex


def getcolumnindex(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    return columnindex

                
def Valuefromrowcolumn(df,rowkey,columnkey):
    rowindex=getrowindex(df,rowkey)
    columnindex=getcolumnindex(df,columnkey)
    return df.values[rowindex][columnindex]
print(Valuefromrowcolumn(incomedf,'California','2009'))
print(Valuefromrowcolumn(incomedf,'Arkansas','2008'))

56134
39586

# Function to update data based on rowkey and columnkey

In [33]:
#Function to update data based on rowkey and columnkey
def updatedatafromrowcolumn(df,rowkey,columnkey,newdata):
    rowindex=getrowindex(df,rowkey)
    columnindex=getcolumnindex(df,columnkey)
    row=df.values[rowindex]
    row[columnindex]=newdata
    df.loc[rowindex]=row
    return 

updatedatafromrowcolumn(incomedf,'Arizona','2009',2345)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,2345,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [37]:
acessesdataframerow(incomedf,62993)

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [38]:
# Function to write dtat frame to csv
incomedf.to_csv(filepath,index=False)

# Function to add a new row of data to DataFrame

In [39]:


def addRowDataDataFrame(df, rowdata):
    lastrowindex = len(df.values)-1
    df.loc[lastrowindex+1] = rowdata
    return

rowdata = [1,2,3,4,5,56,13,14,313,12,0]
addRowDataDataFrame(incomedf, rowdata)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,2345,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528
5,1,2,3,4,5,56,13,14,313,12,0

# Function to delete a row in a DataFrame

In [51]:

def deleteRowDataFrame(df, rowkey):
    rowindex=getrowindex(df,rowkey)
    return df.drop(rowindex) 

incomedf = deleteRowDataFrame(incomedf, 1)
incomedf

UnboundLocalError: local variable 'rowindex' referenced before assignment

In [49]:
import numpy as np
m=np.random.randint(2,5,size=(3,1,3,2))
m[1][0][2][1]

4

In [21]:
m

array([[[[3, 4],
         [4, 2],
         [3, 4]]],


       [[[4, 2],
         [3, 3],
         [2, 4]]],


       [[[2, 2],
         [3, 4],
         [4, 3]]]])