# Function to generate Multiplication table for a number in a given range
10 in the range(100, 102) inclusive
10 x 100 = 1000
10 x 101 = 1010
10 x 102 = 1020

In [14]:
def mul10(lb,ub):
    i=10
    for j in range(lb,ub+1):
        y=i*j
        print(i,"*",j,"=",y)
mul10(100,102)

10 * 100 = 1000
10 * 101 = 1010
10 * 102 = 1020



# You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa. (The String may contain special characters).

In [15]:
s="madhUNaG@123"
s.swapcase()

'MADHunAg@123'

In [17]:
def swapofstring(s):
    s1=s.swapcase()
    return s1
s=input()
swapofstring(s)

sd#$HJN!@8

'SD#$hjn!@8'

# Given an integer, ’n’ , perform the following conditional actions:
If ‘n’  is odd, print Weird
If  ‘n’ is even and in the inclusive range of 2 to 5, print Not Weird
If  ‘n’ is even and in the inclusive range of 6 to 20 , print Weird
If  ‘n’ is even and greater than 20, print Not Weird

In [46]:
def solution(n):
    if n%2==0 and 2<n<5:
        print("Weird")
    elif n%2==0 and n>20:
        return ("Not weird")
    elif n%2==0 and 5<n<21:
          return ("Not Weird")
    else:
        return ("Weird")
        
    
#n=int(input())
solution(3)
print(solution(2))
print(solution(6))
print(solution(20))
print(solution(40))
print(solution(1))

Weird
Not Weird
Not Weird
Not weird
Weird

# Given the participants ‘n’ score sheet for your University Sports Day, you are required to find the runner-up score. You are given scores. Store them in a list and find the score of the runner-up. (there can be multiple winners - if their scores match).

In [335]:

l=list(map(int,input().split()))
x=sorted(set(l))
print(x)
x[-2]

1 2 1  2 1 3 4
[1, 2, 3, 4]

3

In [47]:
help(str.maketrans)

Help on built-in function maketrans:

maketrans(x, y=None, z=None, /)
    Return a translation table usable for str.translate().

    If there is only one argument, it must be a dictionary mapping Unicode
    ordinals (integers) or characters to Unicode ordinals, strings or None.
    Character keys will be then converted to ordinals.
    If there are two arguments, they must be strings of equal length, and
    in the resulting dictionary, each character in x will be mapped to the
    character at the same position in y. If there is a third argument, it
    must be a string, whose characters will be mapped to None in the result.

In [49]:
str.maketrans("abc","dex")

{97: 100, 98: 101, 99: 120}

In [52]:
ord('a'),ord('b'),ord('x')

(97, 98, 120)

In [54]:
t="python"

In [55]:
s.translate(t)

'sd#$HJN!@8'

In [56]:
s

'sd#$HJN!@8'

In [363]:
s="madhu nag hii"
p=s.split()
p

['madhu', 'nag', 'hii']

In [364]:
p=":".join(p)
print(p)
print(s)

madhu:nag:hii
madhu nag hii

In [88]:
s

'madhu nag hii'

In [94]:
x="asdfghdfghjkrtyuicvbn"
a=s.maketrans("sdf","xyz")
a

{115: 120, 100: 121, 102: 122}

In [95]:
x.translate(a)

'axyzghyzghjkrtyuicvbn'

In [156]:
def score(n):
    d={}
    for i in range(n):
        x=input("enter key")
        y=int(input("enter value"))
        d[x]=y
    return d
score(4)

enter key"k1"
enter value2
enter key"k2"
enter value1
enter key"k3"
enter value4
enter key"k4"
enter value5

{'"k1"': 2, '"k2"': 1, '"k3"': 4, '"k4"': 5}

In [170]:
d1={'"k1"': 2, '"k2"': 1, '"k3"': 4, '"k4"': 5}
for i in sorted(d1.items(),reverse=True):
    print(i)

('"k4"', 5)
('"k3"', 4)
('"k2"', 1)
('"k1"', 2)

# To print keys based on max key values in order

In [365]:
d1={'"k1"': 2, '"k3"': 1, '"k2"': 4, '"k4"': 5}
d2={}
for i in d1.items():
    d2[i[1]]=i[0]
print(d2)
c=sorted(d2.items(),reverse=True)
print(c)
for i in range(len(c)):
    print(i+1,c[i][1])

{2: '"k1"', 1: '"k3"', 4: '"k2"', 5: '"k4"'}
[(5, '"k4"'), (4, '"k2"'), (2, '"k1"'), (1, '"k3"')]
1 "k4"
2 "k2"
3 "k1"
4 "k3"

 # function to 2 common factors of numbers

In [368]:
def common2factors(l):
    l1=max(l)
    for i in range(1,(l1+1)):
        if l[0]%i==0 and l[1]%i==0:
            print(i)
l=[10,15]
common2factors(l)

1
5

In [369]:
k=[10,15]
k[0]

10

In [249]:
x=[10,20,30]

In [263]:
for i in x:
    print(i+3,end="")

162636

In [251]:
for i in range(len(x)):
    x[i]+=3
x

[13, 23, 33]

In [260]:
a1=[13,59,70]
b1=[34,23,0]
c1=[]
c1=a1[1]+b1[1]
c1

82

In [261]:
c1=[]
for i in range(len(a1)):
    c1.append(a1[i]+b1[i])
    print(c1)

[47]
[47, 82]
[47, 82, 70]

In [265]:
add=lambda x,y:x+y
add(3,2)

5

In [268]:
cubes=lambda n:n**3
cubes(2)

8

In [294]:
odd=lambda n:0 if n%2==0 else 1
odd(3)

1

In [295]:
map(odd,a1)

In [296]:
list(map(odd,a1))

[1, 1, 0]

In [297]:
a1

[13, 59, 70]

In [298]:
print(list(map(lambda x,y:x+y,a1,b1))) #addition of two list via element
print(list(map(lambda x,y:x*y,a1,b1)))  #mul

[47, 82, 70]
[442, 1357, 0]

In [299]:
a1

[13, 59, 70]

In [300]:
b1

[34, 23, 0]

In [301]:
list(filter(odd,a1))#even are filterd

[13, 59]

In [302]:
odd

In [291]:
list(filter(lambda x:x-70,a1))

[13, 59]

In [303]:
ch=[]
for i in a1:
    if i-70!=0:
        ch.append(i)
    print(ch)

[13]
[13, 59]
[13, 59]

In [304]:
a1

[13, 59, 70]

In [356]:
z="madhu baby"
a=z.split()
print("_".join(a))
b=a[1].capitalize()
print(a[0]+b)

madhu_baby
madhuBaby

In [343]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [389]:
s="All-convoYs-9-be:Alert1."
for i in s:
    x=ord(i)+4
    print(chr(x),end="")

Epp1gsrzs]w1=1fi>Epivx52

In [375]:
ord('l')+4

112

In [376]:
ord('p')

112

In [377]:
chr(112)

'p'

In [382]:
ord('k')

107

In [385]:
ord('a')+4

101

In [386]:
chr(101)

'e'

# Hacker earth test problems

# Odd exit

In [393]:
li=[]
while 1:
    x=input()
    if x=="EXIT":
        break
    elif int(x)%2==0:
        li.append(int(x))
        print(x,end=" ")
print(max(li))

36
36 11
22
22 EXIT
36

# Frequency of  count .com in urls

In [407]:
t=3
d={}
for i in range(t):
    x=input().split('.')[-1]
    if x not in d:
        d[x]=1
    else:
        d[x]+=1
m=max(list(d.values()))
for key,values in d.items():
    if values==m:
        print(key,':',m)

fght.in
fre.com
yyt.com
com : 2

In [398]:
s="http:google.com"
s1=s.split('.')
s1[-1]

'com'